= simple_form_for @conversation.new do |f|
	= f.text_area :question, label: false, :placeholder => "Ask your question here..."
	= f.button :submit, 'Submit & pay $1', :class => "button button-highlight button-huge"