%section.content.dashboard
	.wrapper
		%h1
			= current_user.first_name
			's Questions

		%ul
			- @conversation.each do |conversation|
				= render 'conversation', conversation: conversation

				%hr

		= link_to "Ask a new question", new_conversation_path, class: "button button-highlight button-big"


